@import "vars";

.footer {
    width: min(95vw, 1701px);
    padding: 1.69em 10px;
    > a {
        font-size: unset;
    }
    nav {
        margin-right: 14em;
        a {
            font-size: @36px;
            margin: 0 1.13rem;
        }
    }
    .language-footer {
        margin-left: 1.97rem;
        font-size: @36px;
        line-height: 98%;
        img {
            margin-right: .1rem;
            width: 2.3rem;
            height: 1.57rem;
        }
    }
}

.logo-footer {
    width: 20.75rem;
    height: 3.75rem;
}