.container {
  width: min(94vw, 1681px);
}
.info-site h1 {
  margin: 11.25rem 0 5.31rem 0;
  font-size: max(3rem, 15px);
  width: 26ch;
  color: #808d9b;
}
.info-site h1 span {
  display: block;
  font-size: max(5.62rem, 29px);
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 1rem;
  color: white;
}
.info-site h1 span span {
  color: #64d2ff;
  margin-bottom: unset;
}
.info-site a {
  display: inline-flex;
  font-weight: bold;
  outline-offset: -6px;
}
.info-site a:hover {
  color: white;
}
.info-site .line {
  margin: 12.19em auto 5em auto;
}
.mascot {
  transform: rotate(-5deg);
  /* z-index: -1; */
}
.mascot .mas {
  margin-top: 4em;
  margin-right: 3em;
  /* z-index: -4; */
  width: max(41.97em, 229.58px);
  height: max(47.1em, 252.89px);
  filter: drop-shadow(0 0 6.25em #009fe3ce);
  user-select: none;
}
.mascot > div {
  user-select: none;
}
.mascot .form-eye {
  z-index: -2;
  width: max(38.81em, 209.63px);
  height: max(23.69em, 122.91px);
  top: max(18em, 102px);
  right: 4.7em;
}
.mascot .mas-eye {
  /* z-index: -1; */
  width: max(32.81em, 179.8px);
  height: max(46.69em, 254.07px);
  /* top: max(4em, 23px);
        right: 8em; */
  filter: drop-shadow(0 0 1.25em #009fe3ce);
}
.btn-service {
  background: #009fe3;
  padding: max(1.625rem, 10px) max(9.256rem, 52px);
  box-shadow: 0 0 30px 7px #5ad1ff inset;
  outline: 6px solid transparent;
}
.btn-service:hover {
  background: unset;
  box-shadow: 0 0px 15px 6px rgba(255, 255, 255, 0.2) inset, 0 0px 15px 0px rgba(255, 255, 255, 0.2);
  outline: 6px solid #009fe3;
}
.btn-service:active {
  outline: 6px solid white;
  box-shadow: 0 0px 15px 6px rgba(255, 255, 255, 0.5) inset, 0 0px 15px 0px rgba(255, 255, 255, 0.5);
}
.btn-enter {
  margin-left: max(1rem, 10px);
  outline: 6px solid #009fe3;
  padding: max(1.625rem, 10px) max(3.55rem, 20px);
  box-shadow: 0 0px 15px 6px rgba(255, 255, 255, 0.2) inset, 0 0px 15px 0px rgba(255, 255, 255, 0.2);
}
.btn-enter img {
  width: max(1.39rem, 6.95px);
  height: max(2.13rem, 10.64px);
  margin-left: max(1rem, 7px);
}
.btn-enter:hover {
  background: #009fe3;
  outline: 6px solid transparent;
  box-shadow: 0 0 30px 7px #5ad1ff inset;
}
.btn-enter:active {
  background: unset;
  outline: 6px solid white;
  box-shadow: 0 0px 15px 6px rgba(255, 255, 255, 0.5) inset, 0 0px 15px 0px rgba(255, 255, 255, 0.5);
}
.line {
  margin: 12.19em auto;
  width: min(87vw, 1595px);
  height: max(0.94rem, 9px);
  background: rgba(0, 159, 227, 0.08);
  filter: drop-shadow(0 0 13px #cef1ff);
}
@keyframes eye {
  0% {
    transform: rotate(0deg) translateY(-14.38em) translateX(-11.88em) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateY(-14.38em) translateX(-11.88em) rotate(-360deg);
  }
}
@keyframes people {
  0% {
    transform: rotate(0deg) translateY(14.38em) translateX(-11.88em) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateY(14.38em) translateX(-11.88em) rotate(-360deg);
  }
}
@keyframes heart {
  0% {
    transform: rotate(0deg) translateY(14.38em) translateX(11.88em) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateY(14.38em) translateX(11.88em) rotate(-360deg);
  }
}
@keyframes bigeye {
  0% {
    transform: rotate(0deg) translateY(0) translateX(-18.13em) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateY(0) translateX(-18.13em) rotate(360deg);
  }
}
@keyframes chat {
  0% {
    transform: rotate(0deg) translateY(-9.38em) translateX(13.13em) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateY(-9.38em) translateX(13.13em) rotate(360deg);
  }
}
.numbers {
  background: #0b38706b;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 0px 15px 0px rgba(255, 255, 255, 0.4) inset;
  padding: 1.03em 1.9em;
  user-select: none;
  transform: rotate(5deg);
  transition: 5s transform linear, 0.5s opacity linear, 0.5s filter linear;
  opacity: 1;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  backface-visibility: hidden;
  /* top: max(26em, 146px); */
  /* right: 17em; */
}
.numbers.blur {
  /* transform: scale(0.8, 0.8) rotate(5deg); */
  filter: blur(3px);
  opacity: 0.5;
}
.numbers p {
  text-shadow: 0px 0px 30px #55acf1;
  font-weight: bold;
}
.numbers.people {
  /* z-index: -1; */
  /* animation: people 20s linear infinite; */
}
.numbers.eye {
  /* z-index: -1; */
  /* animation: eye 15s linear infinite; */
}
.numbers.big-eye {
  /*  z-index: -2; */
  /* animation: bigeye 23s linear infinite; */
}
.numbers.heart {
  /* z-index: -1; */
  /* animation: heart 23s linear infinite; */
}
.numbers.chat {
  /* z-index: -2; */
  /* animation: chat 18s linear infinite; */
}
.numbers img {
  width: max(3.5em, 17.5px);
  height: max(3.6em, 18px);
}
.about-cheappiar h2 {
  margin-bottom: 4.31rem;
}
.about-cheappiar .services {
  padding-bottom: 8em;
  overflow: hidden;
  margin-bottom: 4em;
}
.about-cheappiar .services h3 {
  margin-bottom: 1.25rem;
}
.about-cheappiar .services p {
  width: 30ch;
  text-align: center;
  color: #808d9b;
}
.about-cheappiar .guarant h3 {
  width: 9ch;
}
.about-cheappiar .guarant p {
  font-weight: bold;
}
.about-cheappiar .price h3 {
  width: 12ch;
}
.about-cheappiar .list-services {
  background: radial-gradient(130.79% 192.78% at 100% 0%, rgba(255, 238, 85, 0.1) 7.98%, rgba(255, 67, 123, 0.1) 26.86%, rgba(134, 155, 228, 0.1) 49.17%, rgba(98, 195, 225, 0.1) 77.56%, rgba(255, 57, 212, 0.205894) 100%);
  margin-top: 4.06em;
  flex-direction: row;
  overflow: hidden;
  padding: 9.9em 2em 8.41em 10.75em;
}
.about-cheappiar .list-services h3 {
  width: 14ch;
  margin-bottom: 1rem;
}
.about-cheappiar .list-services p {
  width: 22ch;
  color: #808d9b;
  text-align: center;
}
.about-cheappiar .list-services > div {
  flex-direction: column;
  width: max-content;
}
.about-cheappiar .line {
  margin: 8em auto;
}
.box-info {
  min-width: 50.7em;
  padding: 7.5em 3.56em 6.87em 3.56em;
  background: radial-gradient(190.18% 100% at 50% 0%, rgba(119, 206, 255, 0.12) 0%, rgba(196, 196, 196, 0) 100%);
  box-shadow: 0 0 50px 0 rgba(2, 154, 179, 0.4) inset;
  flex-direction: column;
}
.box-info h3 {
  text-align: center;
}
.img-home {
  width: 27em;
  height: 20em;
  margin-bottom: 1em;
}
.wreath-left,
.wreath-right {
  width: 36em;
  height: 56.94em;
  bottom: -5.3em;
  z-index: -1;
}
.wreath-left {
  left: -6.19em;
}
.wreath-right {
  right: -6.92em;
}
.dollar {
  width: 20.94em;
  height: 20.94em;
  margin-bottom: 4.13em;
}
.plus {
  width: 3.28rem;
  height: 3.28rem;
  margin-right: 1rem;
}
.refund {
  padding: 2.88em 2.5em;
  /* Поправил контраст до 5:1 (был 3:1) */
  background: #0076AA;
  box-shadow: 0 0 30px 7px #5ad1ff inset;
  border-radius: 1em;
  margin-top: 1em;
}
.for-refund {
  margin-top: 4.09em;
  width: 100%;
}
.social {
  margin-left: 8.5em;
}
.social > div:nth-child(2) {
  margin-left: 5.6em;
}
.social img {
  width: 9.45rem;
  height: 9.45rem;
  margin: 0.62rem 0.54rem;
}
.social img:hover {
  filter: drop-shadow(0 0 15px rgba(81, 138, 175, 0.5));
}
.target {
  margin-bottom: 8.13em;
}
.target > div {
  flex-direction: column;
}
.target p {
  margin-top: 6.25rem;
  text-align: center;
  width: 33ch;
}
.mas-2 {
  width: 48.69em;
  height: 60em;
  /* z-index: -1; */
  bottom: -5.3em;
}
@media screen and (max-width: 1789px) {
  .box-info {
    min-width: 48%;
  }
}
@media screen and (max-width: 1120px) {
  .info-site a {
    outline-offset: -3px;
  }
  .btn-service {
    outline: 3px solid transparent;
  }
  .btn-service:hover {
    outline: 3px solid #009fe3;
  }
  .btn-service:active {
    outline: 3px solid white;
  }
  .btn-enter {
    outline: 3px solid #009fe3;
  }
  .btn-enter:hover {
    outline: 3px solid transparent;
  }
  .btn-enter:active {
    outline: 3px solid white;
  }
}
@media screen and (max-width: 675px) {
  .info-site > div:first-child {
    flex-direction: column;
  }
  .info-site h1 {
    width: 100%;
  }
  .mascot {
    display: flex;
    margin-left: 5em;
  }
  .mascot .mas {
    margin: 21px auto 0 auto;
  }
  .mascot .form-eye {
    left: 0;
    right: 0;
    margin: auto;
  }
  .mascot .glow-eye {
    left: 0;
    right: 0;
    margin: auto;
  }
  .mascot .mas-eye {
    left: 0;
    right: 0;
    margin: auto;
  }
  .numbers {
    max-width: 15.45em;
    /* left: 0; right: 0; */
    margin: auto;
  }
  .about-cheappiar .list-services {
    padding: 7em 2em 6em 7em;
  }
  .about-cheappiar .social {
    margin-left: 2.5em;
  }
  .target {
    margin-bottom: 23.13em;
  }
}
@media screen and (max-width: 600px) {
  .numbers {
    min-width: 77px;
    height: 29px;
  }
  @keyframes eye {
    0% {
      transform: rotate(0deg) translateY(-86.28px) translateX(-71.28px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(-86.28px) translateX(-71.28px) rotate(-360deg);
    }
  }
  @keyframes people {
    0% {
      transform: rotate(0deg) translateY(86.28px) translateX(-71.28px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(86.28px) translateX(-71.28px) rotate(-360deg);
    }
  }
  @keyframes heart {
    0% {
      transform: rotate(0deg) translateY(86.28px) translateX(11.88em) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(86.28px) translateX(11.88em) rotate(-360deg);
    }
  }
  @keyframes bigeye {
    0% {
      transform: rotate(0deg) translateY(0) translateX(-108.78px) rotate(0deg);
    }
    100% {
      transform: rotate(-360deg) translateY(0) translateX(-108.78px) rotate(360deg);
    }
  }
  @keyframes chat {
    0% {
      transform: rotate(0deg) translateY(-56.28px) translateX(79.78px) rotate(0deg);
    }
    100% {
      transform: rotate(-360deg) translateY(-56.28px) translateX(79.78px) rotate(360deg);
    }
  }
}
@media screen and (max-width: 500px) {
  .about-cheappiar .list-services p {
    font-size: 10px;
  }
}
@media screen and (max-width: 410px) {
  .target h2 {
    font-size: 22px;
  }
  .target p {
    width: 95%;
  }
  .box-info p {
    font-size: 10px;
  }
}
