@import "vars";
@import "animation";

.container {
    width: min(95vw, 1701px);
    padding: 0 10px;
}

.info-site {
    h1 {
        margin: 11.25rem 0 5.31rem 0;
        font-size: @48px;
        width: 26ch;
        color: @Gray;
        span {
            display: block;
            font-size: 90px;
            font-weight: bold;
            line-height: 100%;
            margin-bottom: 1rem;
            color: @White;
            span {
                color: @LightBlue;
                margin-bottom: unset;
            }
        }
    }
    a {
        display: inline-flex;
        font-weight: bold;
        outline-offset: -6px;
        &:hover {
            color: @White;
        }
    }
    .line {
        margin: 12.19em auto 5em auto;
    }
}

.mas {
    z-index: -1;
    top: -19.5em;
    right: -18.8em;
    width: 85.73em;
    height: 91.36em;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.btn-service {
    background: @DarkBlue;
    padding: 1.625rem 9.256rem;
    box-shadow: @BoxShadowInset;
    outline: 6px solid transparent;
    &:hover {
        background: unset;
        box-shadow: @BoxShadowBlue;
        outline: 6px solid @DarkBlue;
    } 
    &:active {
        outline: 6px solid @White;
        box-shadow: @BoxShadowWhite;
    }
}

.btn-enter {
    margin-left: 1rem;
    outline: 6px solid @DarkBlue;
    padding: 1.625rem 3.55rem;
    box-shadow: @BoxShadowBlue;
    img {
        width: 1.39rem;
        height: 2.13rem;
        margin-left: 1rem;
    }
    &:hover {
        background: @DarkBlue;
        outline: 6px solid transparent;
        box-shadow: @BoxShadowInset;
    } 
    &:active {
        background: unset;
        outline: 6px solid @White;
        box-shadow: @BoxShadowWhite;
    }
}

.line {
    margin: 12.19em auto;
    width: 1595px;
    height: 0.94rem;
    background: @LineColor;
    filter: drop-shadow(0 0 13px rgb(206, 241, 255));
}

.animation(eye, -230px, -190px, 360deg, -360deg);
.animation(people, 230px, -190px, 360deg, -360deg);
.animation(heart, 230px, 190px, 360deg, -360deg);
.animation(bigeye, -0, -290px, -360deg, 360deg);
.animation(chat, -150px, 270px, -360deg, 360deg);

.numbers {
    background: #0b38706b;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 0px 15px 0px rgb(255 255 255 / .4) inset;
    padding: 1.03em 1.9em;
    p {
        text-shadow: 0px 0px 30px rgba(85, 172, 241, 1);
        font-weight: bold;
    }
    &.people {
        z-index: -1;
        top: 26em;
        right: 17em;
        animation: people 20s linear infinite;
    }
    &.eye {
        z-index: -1;
        top: 26em;
        right: 17em;
        animation: eye 15s linear infinite;
    }
    &.big-eye {
        z-index: -2;
        top: 26em;
        right: 17em;
        animation: bigeye 23s linear infinite;
    }
    &.heart {
        z-index: -1;
        top: 26em;
        right: 17em;
        animation: heart 23s linear infinite;
    }
    &.chat {
        z-index: -2;
        top: 26em;
        right: 17em;
        animation: chat 18s linear infinite;
    }
    img {
        width: 3.5em;
        height: 3.6em;
    }
}

.about-cheappiar {
    h2 {
        margin-bottom: 4.31rem;
    }
    .services {
        padding-bottom: 8em;
        overflow: hidden;
        margin-bottom: 4em;
        h3 {
            margin-bottom: 1.25rem;
        }
        p {
            width: 30ch;
            text-align: center;
            color: @Gray;
        }
    }
    .guarant {
        h3 {
            width: 9ch; 
        }
        p {
            font-weight: bold;
        }
    }
    .price {
        h3 {
            width: 12ch;
        }
    }
    .list-services {
        background: @GradienSocial;
        margin-top: 4.06em;
        flex-direction: row;
        overflow: hidden;
        padding: 9.9em 2em 8.41em 10.75em;
        h3 {
            width: 11ch;
            margin-bottom: 1rem;
        }
        p {
            width: 22ch;
            color: @Gray;
            text-align: center; 
        }
        > div {
            flex-direction: column;
            width: max-content;
        }
    }
    .line {
        margin: 8em auto;
    }
}

.box-info {
    min-width: 50.7em;
    padding: 7.5em 3.56em 6.87em 3.56em;
    background: radial-gradient(190.18% 100% at 50% 0%, rgb(119 206 255 / 12%) 0%, rgba(196,196,196,0) 100%);
    box-shadow: 0 0 50px 0 rgb(2 154 179 / 40%) inset;
    flex-direction: column;
    h3 {
        text-align: center;
    }
}

.img-home {
    width: 27em;
    height: 20em;
    margin-bottom: 1em;
}

.wreath-left, .wreath-right {
    width: 36em;
    height: 56.94em;
    bottom: -5.3em;
    z-index: -1;
}

.wreath-left {
    left: -6.19em;
}

.wreath-right {
    right: -6.92em;
}

.dollar {
    width: 20.94em;
    height: 20.94em;
    margin-bottom: 4.13em;
}

.plus {
    width: 3.28rem;
    height: 3.28rem;
    margin-right: 1rem;
}

.refund {
    padding: 2.88em 2.5em;
    background: @DarkBlue;
    box-shadow: @BoxShadowInset;
    border-radius: 1em;
    margin-top: 1em;
}

.for-refund {
    margin-top: 4.09em;
    width: 100%;
}

.social {
    margin-left: 8.5em;
    > div:nth-child(2) {
        margin-left: 5.6em;
    }
    img {
        width: 9.45rem;
        height: 9.45rem;
        margin: .62rem .54rem;
        &:hover {
            filter: drop-shadow(0 0 15px rgba(81, 138, 175, 0.5));
        }
    }
}

.target {
    margin-bottom: 8.13em;
    > div {
        flex-direction: column;
    }
    p {
        margin-top: 6.25rem;
        text-align: center;
        width: 33ch;
    }
}

.mas-2 {
    width: 48.69em;
    height: 60em;
    z-index: -1;
    bottom: -5.3em;
}

@media screen and (max-width:1789px) {
    .box-info {
        min-width: 48%;
    }
    .for-mas {
        margin-top: 3em;
    }
}